.place{
    transition:transform 0.5s, box-shadow 0.5s;
    width:205px;
    height:265px;
}

.place:hover
{
    box-shadow: 0px 15px 19px -8px rgba(0,0,0,0.65);
    transform: scale(1.02);
}

.dow{
    box-shadow: 0px 1px 136px 0px rgba(153,180,249,0.7);

}

.t-shadow{
    /* text-shadow: -5px 3px 4px rgba(0,0,0,0.6); */
    text-shadow: -10px 9px 9px rgba(0,0,0,0.6);

}


@media (min-width:350px) {
    #numerr,.numfield,.place{
        width:100%;
    }

}

@media(min-width:600px)
{
    .place{
        width:205px;
    }
    #numerr,.numfield{
        width:40%;
    }
}


